AP.CityDataDemo.Presentation/bin
AP.CityDataDemo.Presentation/obj
AP.CityDataDemo.Infrastructure/bin
AP.CityDataDemo.Infrastructure/obj
AP.CityDataDemo.Application/bin
AP.CityDataDemo.Application/obj
AP.CityDataDemo.Domain/bin
AP.CityDataDemo.Domain/obj
AP.CityDataDemo.UnitTests/bin
AP.CityDataDemo.UnitTests/obj
.DS_Store
.vscode