@page "/"
@using AP.CityDataDemo.Application.Interfaces
@using AP.CityDataDemo.Application.Services
@using AP.CityDataDemo.Domain
@using AP.CityDataDemo.Infrastructure.UOW
@using AP.MyGameStore.Application.CQRS.Queries.Cities
@using MediatR
@using System.Collections

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
